body {
    background-color: black;
}



@media (max-width: 320px) and (max-width: 480px) {
    h1 {color: aqua}
    p {color: white;}
}

@media (min-width: 481px) and (max-width: 768px) {
    p {color: chartreuse;}
}

@media (min-width: 769px) and (max-width: 1279px) {
    p {color: crimson;}
}

@media (min-width: 1280px) {
    p {color: aqua;}
}
